.tagclass{
    padding-left:0.5rem;
    padding-right:0.5rem;
    display:inline-block;
    color:#0000ff;
    font-size:15px;
    line-height:20px;
    border:1px solid #505050;
    border-radius:100px;
    font-weight:400
}

