
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../pv.css">
  <TITLE>BhargavanBlanchetKobeissiSP2017</TITLE>
</HEAD>

<BODY>
<H1>BhargavanBlanchetKobeissiSP2017</H1>

<A HREF="../index.html">Back to ProVerif</A>
<HR>


Karthikeyan Bhargavan, Bruno Blanchet, and Nadim Kobeissi.
  Verified Models and Reference Implementations for the TLS
  1.3 Standard Candidate.
  In <i>IEEE Symposium on Security and Privacy (S&amp;P'17)</i>, pages
  483-503, San Jose, CA, May 2017. IEEE.
  <b>Distinguished paper award</b>. <span class="tagclass">Case study</span>

<p><h4>Get the paper</h4>

 <a href="./BhargavanBlanchetKobeissiSP2017.pdf">.pdf, 637 Kb</a>

<h4>Links</h4>

<A HREF="https://hal.inria.fr/hal-01528752">Long version</A><P>
<A HREF="https://github.com/inria-prosecco/reftls">Supporting material</A>

<h4>Abstract</h4>

TLS 1.3 is the next version of the Transport Layer Security (TLS) protocol. Its clean-slate design is a reaction both to the increasing demand for low-latency HTTPS connections and to a series of recent high-profile attacks on TLS. The hope is that a fresh protocol with modern cryptography will prevent legacy problems; the danger is that it will expose new kinds of attacks, or reintroduce old flaws that were fixed in previous versions of TLS. After 18 drafts, the protocol is nearing completion, and the working group has appealed to researchers to analyze the protocol before publication. This paper responds by presenting a comprehensive analysis of the TLS 1.3 Draft-18 protocol.<P>
We seek to answer three questions that have not been fully addressed in previous work on TLS 1.3: (1) Does TLS 1.3 prevent well-known attacks on TLS 1.2, such as Logjam or the Triple Handshake, even if it is run in parallel with TLS 1.2? (2) Can we mechanically verify the computational security of TLS 1.3 under standard (strong) assumptions on its cryptographic primitives? (3) How can we extend the guarantees of the TLS 1.3 protocol to the details of its implementations?<P>
To answer these questions, we propose a methodology for developing verified symbolic and computational models of TLS 1.3 hand-in-hand with a high-assurance reference implementation of the protocol. We present symbolic ProVerif models for various intermediate versions of TLS 1.3 and evaluate them against a rich class of attacks to reconstruct both known and previously unpublished vulnerabilities that influenced the current design of the protocol. We present a computational CryptoVerif model for TLS 1.3 Draft-18 and prove its security. We present RefTLS, an interoperable implementation of TLS 1.0-1.3 and automatically analyze its protocol core by extracting a ProVerif model from its typed JavaScript code.

<h4>Bibtex</h4>

<pre><a name="BhargavanBlanchetKobeissiSP2017"></a>
@INPROCEEDINGS{BhargavanBlanchetKobeissiSP2017,
  AUTHOR = {Karthikeyan Bhargavan and Bruno Blanchet and Nadim Kobeissi},
  TITLE = {Verified Models and Reference Implementations for the {TLS} 1.3 Standard Candidate},
  BOOKTITLE = {IEEE Symposium on Security and Privacy (S\&P'17)},
  YEAR = 2017,
  PAGES = {483--503},
  MONTH = MAY,
  ADDRESS = {San Jose, CA},
  PUBLISHER = {IEEE},
  NOTE = {{\bfseries Distinguished paper award}}
}

</pre></BODY>
</HTML>

