
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../pv.css">
  <TITLE>BhargavanChevalWoodCCS22</TITLE>
</HEAD>

<BODY>
<H1>BhargavanChevalWoodCCS22</H1>

<A HREF="../index.html">Back to ProVerif</A>
<HR>


Karthikeyan Bhargavan, Vincent Cheval, and Christopher Wood.
  A Symbolic Analysis of Privacy for TLS 1.3 with
  Encrypted Client Hello.
  In <i>Proceedings of the 29th ACM Conference on Computer
  and Communications Security (CCS'22)</i>, Los Angeles, USA, November 2022.
  ACM Press. <span class="tagclass">Case study</span>

<p><h4>Get the paper</h4>

 <a href="./BhargavanChevalWoodCCS22.pdf">.pdf, 714 Kb</a>

<h4>Abstract</h4>

TLS 1.3, the newest version of the Transport Layer Security (TLS) protocol, provides strong authentication and confidentiality guarantees that have been comprehensively analyzed in a variety of formal models. However, despite its controversial use of handshake meta-data encryption, the privacy guarantees of TLS 1.3 remain weak and poorly understood. For example, the protocol reveals the identity of the target server to network attackers, allowing the passive surveillance and active censorship of TLS connections. To close this gap, the IETF TLS working group is standardizing a new privacy extension called Encrypted Client Hello (ECH, previously called ESNI), but the absence of a formal privacy model makes it hard to verify that this extension works. Indeed, several early drafts of ECH were found to be vulnerable to active network attacks.
   
     In this paper, we present the first mechanized formal analysis of privacy properties for the TLS 1.3 handshake. We study all standard modes of TLS 1.3, with and without ECH, using the symbolic protocol analyzer ProVerif. We discuss attacks on ECH, some found during the course of this study, and show how they are accounted for in the latest version. Our analysis has helped guide the standardization process for ECH and we provide concrete privacy recommendations for TLS implementors. We also contribute the most comprehensive model of TLS 1.3 to date, which can be used by designers experimenting with new extensions to the protocol. Ours is one of the largest privacy proofs attempted using an automated verification tool and may be of general interest to protocol analysts.

<h4>Bibtex</h4>

<pre><a name="BhargavanChevalWoodCCS22"></a>
@INPROCEEDINGS{BhargavanChevalWoodCCS22,
  AUTHOR = {Bhargavan, Karthikeyan and Cheval, Vincent and Wood, Christopher},
  TITLE = {A Symbolic Analysis of Privacy for {TLS} 1.3 with {E}ncrypted {C}lient {H}ello},
  BOOKTITLE = {{P}roceedings of the 29th {ACM} {C}onference on {C}omputer and {C}ommunications {S}ecurity ({CCS}'22)},
  YEAR = {2022},
  PUBLISHER = {ACM Press},
  ADDRESS = {Los Angeles, USA},
  MONTH = NOV
}

</pre></BODY>
</HTML>

