
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../pv.css">
  <TITLE>BlanchetEtAlSP22</TITLE>
</HEAD>

<BODY>
<H1>BlanchetEtAlSP22</H1>

<A HREF="../index.html">Back to ProVerif</A>
<HR>


Bruno Blanchet, Vincent Cheval, and Véronique Cortier.
  ProVerif with lemmas, induction, fast subsumption, and
  much more.
  In <i>IEEE Symposium on Security and Privacy (S&amp;P'22)</i>, pages
  205-222, San Francisco, CA, May 2022. IEEE Computer Society. <span class="tagclass">Tool feature</span>

<p><h4>Get the paper</h4>

 <a href="./BlanchetEtAlSP22.pdf">.pdf, 423 Kb</a>

<h4>Links</h4>

<A HREF="https://proverif.inria.fr/snp22/">Long version and benchmarks</A><P>
<A HREF="https://doi.ieeecomputersociety.org/10.1109/SP46214.2022.00013">Official version</A>

<h4>Abstract</h4>

This paper presents a major overhaul of one the most widely used
symbolic security protocol verifiers, ProVerif. We provide two main
contributions. First, we extend ProVerif with lemmas, axioms, proofs
by induction, natural numbers, and temporal queries. These features
not only extend the scope of ProVerif, but can also be used to
improve its precision (that is, avoid false attacks) and make it
terminate more often. Second, we rework and optimize many of the algorithms
used in ProVerif (generation of clauses, resolution, subsumption, ...),
resulting in impressive speed-ups on large examples.

<h4>Bibtex</h4>

<pre><a name="BlanchetEtAlSP22"></a>
@INPROCEEDINGS{BlanchetEtAlSP22,
  AUTHOR = {Blanchet, Bruno and Cheval, Vincent and Cortier, V{\'e}ronique},
  TITLE = {{P}ro{V}erif with lemmas, induction, fast subsumption, and much more},
  BOOKTITLE = {IEEE Symposium on Security and Privacy (S\&P'22)},
  YEAR = 2022,
  PAGES = {205--222},
  MONTH = MAY,
  ADDRESS = {San Francisco, CA},
  PUBLISHER = {IEEE Computer Society}
}

</pre></BODY>
</HTML>

