
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../pv.css">
  <TITLE>ChevalRakotonirinaCSF23</TITLE>
</HEAD>

<BODY>
<H1>ChevalRakotonirinaCSF23</H1>

<A HREF="../index.html">Back to ProVerif</A>
<HR>


Vincent Cheval and Itsaka Rakotonirina.
  Indistinguishability Beyond Diff-Equivalence in
  ProVerif.
  In <i>Proceedings of the 36th IEEE Computer Security
  Foundations Symposium (CSF'23)</i>, pages 184-199, Dubrovnik, Croatia,
  July 2023. IEEE.
  <b>Distinguished paper award</b>. <span class="tagclass">Tool feature</span> <span class="tagclass">Case study</span>

<p><h4>Get the paper</h4>

 <a href="./ChevalRakotonirinaCSF23.pdf">.pdf, 459 Kb</a>

<h4>Links</h4>

<A HREF="https://chevalvi.gitlabpages.inria.fr/chevalvi/files/CR-csf23-long.pdf">Long version</A>

<h4>Abstract</h4>

When formalising cryptographic protocols, privacy-type properties such as strong flavours of secrecy, anonymity or unlinkability, are often modelled by indistinguishability statements. Proving them is notoriously more challenging than trace properties which benefit from a well-established tool support today. State-of-the-art techniques often exhibit significant limitations, e.g., consider only a bounded number of protocol sessions, or prove diff-equivalence-a fine-grained, structure-guided notion of indistinguishability that commonly yields unnecessarily pessimistic analyses.
   
     In this paper, we design, implement and evaluate the first general framework for proving indistinguishability properties, for an unbounded number of protocol sessions, going beyond the scope of diff-equivalence. For that we relax the structural requirements of ProVerif, a state-of-the-art tool, through a notion of session decomposition, intuitively allowing a dynamic restructuration of the proofs. We can then verify in a modular way various, more realistic models of indistinguishability such as may-testing equivalence, by exhibiting for each relation a sufficient condition on ProVerif's output ensuring that it holds. We implement our approach into a prototype and showcase the gain in scope through several case studies.

<h4>Bibtex</h4>

<pre><a name="ChevalRakotonirinaCSF23"></a>
@INPROCEEDINGS{ChevalRakotonirinaCSF23,
  AUTHOR = {Cheval, Vincent and Rakotonirina, Itsaka},
  TITLE = {Indistinguishability Beyond Diff-Equivalence in {P}ro{V}erif},
  BOOKTITLE = {{P}roceedings of the 36th {IEEE} {C}omputer {S}ecurity {F}oundations {S}ymposium ({CSF}'23)},
  YEAR = {2023},
  PUBLISHER = {{IEEE}},
  ADDRESS = {Dubrovnik, Croatia},
  PAGES = {184--199},
  MONTH = JUL,
  NOTE = {{\bfseries Distinguished paper award}}
}

</pre></BODY>
</HTML>

