
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../pv.css">
  <TITLE>ChevalCortierDebantCSF23</TITLE>
</HEAD>

<BODY>
<H1>ChevalCortierDebantCSF23</H1>

<A HREF="../index.html">Back to ProVerif</A>
<HR>


Vincent Cheval, Véronique Cortier, and Alexandre Debant.
  Election Verifiability with ProVerif.
  In <i>Proceedings of the 36th IEEE Computer Security
  Foundations Symposium (CSF'23)</i>, pages 43-58, Dubrovnik, Croatia, July
  2023. IEEE. <span class="tagclass">Case study</span>

<p><h4>Get the paper</h4>

 <a href="./ChevalCortierDebantCSF23.pdf">.pdf, 461 Kb</a>

<h4>Abstract</h4>

Electronic voting systems should guarantee (at least) vote privacy and verifiability. Formally proving these two properties is challenging. Indeed, vote privacy is typically expressed as an equivalence property, hard to analyze for automatic tools, while verifiability requires to count the number of votes, to guarantee that all honest votes are properly tallied.
   
     We provide a full characterization of E2E-verifiability in terms of two simple properties, that are shown to be both sufficient and necessary. In contrast, previous approaches proposed sufficient conditions only. These two properties can easily be expressed in a formal tool like ProVerif but remain hard to prove automatically. Therefore, we provide a generic election framework, together with a library of lemmas, for the (automatic) proof of E2E-verifiability. We successfully apply our framework to several protocols of the literature that include two complex, industrial-scale voting protocols, namely Swiss Post and CHVote, designed for the Swiss context.

<h4>Bibtex</h4>

<pre><a name="ChevalCortierDebantCSF23"></a>
@INPROCEEDINGS{ChevalCortierDebantCSF23,
  AUTHOR = {Cheval, Vincent and Cortier, V{\'e}ronique and Debant, Alexandre},
  TITLE = {Election Verifiability with {P}ro{V}erif},
  BOOKTITLE = {{P}roceedings of the 36th {IEEE} {C}omputer {S}ecurity {F}oundations {S}ymposium ({CSF}'23)},
  YEAR = {2023},
  PUBLISHER = {{IEEE}},
  ADDRESS = {Dubrovnik, Croatia},
  PAGES = {43--58},
  MONTH = JUL
}

</pre></BODY>
</HTML>

