<H3>Journals</H3>


<dl>

<dt>
<a name="BlanchetSmythJCS18"></a>
[1]
</dt>
<dd>
Bruno Blanchet and Ben Smyth.
  <A HREF="http://proverif.inria.fr/publications/BlanchetSmythJCS18.html">Automated reasoning for equivalences in the applied pi
  calculus with barriers</A>.
  <i>Journal of Computer Security</i>, 26(3):367-422, 2018. <span class="tagclass">Tool feature</span><br />

<p>
</dd>


<dt>
<a name="AbadiBlanchetFournetJACM17"></a>
[2]
</dt>
<dd>
Martín Abadi, Bruno Blanchet, and Cédric Fournet.
  <A HREF="http://proverif.inria.fr/publications/AbadiBlanchetFournetJACM17.html">The Applied Pi Calculus: Mobile Values, New Names, and
  Secure Communication</A>.
  <i>Journal of the ACM</i>, 65(1):1:1-1:41, October 2017. <span class="tagclass">Theoretical result</span><br />

<p>
</dd>


<dt>
<a name="BlanchetFnTPS16"></a>
[3]
</dt>
<dd>
Bruno Blanchet.
  <A HREF="http://proverif.inria.fr/publications/BlanchetFnTPS16.html">Modeling and Verifying Security Protocols with the Applied
  Pi Calculus and ProVerif</A>.
  <i>Foundations and Trends in Privacy and Security</i>, 1(1-2):1-135,
  October 2016. <span class="tagclass">Survey</span><br />

<p>
</dd>


<dt>
<a name="BlanchetJCS08"></a>
[4]
</dt>
<dd>
Bruno Blanchet.
  <A HREF="http://proverif.inria.fr/publications/BlanchetJCS08.html">Automatic Verification of Correspondences for Security
  Protocols</A>.
  <i>Journal of Computer Security</i>, 17(4):363-434, July 2009. <span class="tagclass">Tool feature</span><br />

<p>
</dd>


<dt>
<a name="BlanchetAbadiFournetJLAP07"></a>
[5]
</dt>
<dd>
Bruno Blanchet, Martín Abadi, and Cédric Fournet.
  <A HREF="http://proverif.inria.fr/publications/BlanchetAbadiFournetJLAP07.html">Automated Verification of Selected Equivalences for
  Security Protocols</A>.
  <i>Journal of Logic and Algebraic Programming</i>, 75(1):3-51,
  February-March 2008. <span class="tagclass">Tool feature</span><br />

<p>
</dd>


<dt>
<a name="AbadiBlanchetFournetTISSEC07"></a>
[6]
</dt>
<dd>
Martín Abadi, Bruno Blanchet, and Cédric Fournet.
  <A HREF="http://proverif.inria.fr/publications/AbadiBlanchetFournetTISSEC07.html">Just Fast Keying in the Pi Calculus</A>.
  <i>ACM Transactions on Information and System Security (TISSEC)</i>,
  10(3):1-59, July 2007. <span class="tagclass">Case study</span><br />

<p>
</dd>


<dt>
<a name="AbadiBlanchetSCP04"></a>
[7]
</dt>
<dd>
Martín Abadi and Bruno Blanchet.
  <A HREF="http://proverif.inria.fr/publications/AbadiBlanchetSCP04.html">Computer-Assisted Verification of a Protocol for
  Certified Email</A>.
  <i>Science of Computer Programming</i>, 58(1-2):3-27, October 2005.
  Special issue SAS'03. <span class="tagclass">Case study</span><br />

<p>
</dd>


<dt>
<a name="BlanchetIPL05"></a>
[8]
</dt>
<dd>
Bruno Blanchet.
  <A HREF="http://proverif.inria.fr/publications/BlanchetIPL05.html">Security Protocols: From Linear to Classical
  Logic by Abstract Interpretation</A>.
  <i>Information Processing Letters</i>, 95(5):473-479, September 2005. <span class="tagclass">Theoretical result</span><br />

<p>
</dd>


<dt>
<a name="BlanchetPodelskiTCS04"></a>
[9]
</dt>
<dd>
Bruno Blanchet and Andreas Podelski.
  <A HREF="http://proverif.inria.fr/publications/BlanchetPodelskiTCS04.html">Verification of Cryptographic Protocols: Tagging
  Enforces Termination</A>.
  <i>Theoretical Computer Science</i>, 333(1-2):67-90, March 2005.
  Special issue FoSSaCS'03. <span class="tagclass">Theoretical result</span><br />

<p>
</dd>


<dt>
<a name="AbadiBlanchetJACM7037"></a>
[10]
</dt>
<dd>
Martín Abadi and Bruno Blanchet.
  <A HREF="http://proverif.inria.fr/publications/AbadiBlanchetJACM7037.html">Analyzing Security Protocols with Secrecy Types and
  Logic Programs</A>.
  <i>Journal of the ACM</i>, 52(1):102-146, January 2005. <span class="tagclass">Tool feature</span><br />

<p>
</dd>
</dl>

<H3>Chapters in books</H3>


<dl>

<dt>
<a name="BlanchetFOSAD14"></a>
[1]
</dt>
<dd>
Bruno Blanchet.
  <A HREF="http://proverif.inria.fr/publications/BlanchetFOSAD14.html">Automatic Verification of Security Protocols in the
  Symbolic Model: the Verifier ProVerif</A>.
  In Alessandro Aldini, Javier Lopez, and Fabio Martinelli, editors,
  <i>Foundations of Security Analysis and Design VII, FOSAD Tutorial
  Lectures</i>, volume 8604 of <i>Lecture Notes in Computer Science</i>, pages
  54-87. Springer, 2014. <span class="tagclass">Survey</span><br />

<p>
</dd>


<dt>
<a name="BlanchetBook09"></a>
[2]
</dt>
<dd>
Bruno Blanchet.
  <A HREF="http://proverif.inria.fr/publications/BlanchetBook09.html">Using Horn Clauses for Analyzing Security Protocols</A>.
  In Véronique Cortier and Steve Kremer, editors, <i>Formal
  Models and Techniques for Analyzing Security Protocols</i>, volume 5 of <i>
  Cryptology and Information Security Series</i>, pages 86-111. IOS Press, March
  2011. <span class="tagclass">Survey</span><br />

<p>
</dd>
</dl>

<H3>Invited Conferences</H3>


<dl>

<dt>
<a name="BlanchetCADE05"></a>
[1]
</dt>
<dd>
Bruno Blanchet.
  <A HREF="http://proverif.inria.fr/publications/BlanchetCADE05.html">An Automatic Security Protocol Verifier based on Resolution
  Theorem Proving (invited tutorial)</A>.
  In <i>20th International Conference on Automated Deduction
  (CADE-20)</i>, Tallinn, Estonia, July 2005. <span class="tagclass">Survey</span><br />

<p>
</dd>


<dt>
<a name="BlanchetPPDP03"></a>
[2]
</dt>
<dd>
Bruno Blanchet.
  <A HREF="http://proverif.inria.fr/publications/BlanchetPPDP03.html">Automatic Verification of Cryptographic Protocols:
  A Logic Programming Approach (invited talk)</A>.
  In <i>5th ACM-SIGPLAN International Conference on Principles and
  Practice of Declarative Programming
  (<A HREF="http://www.it.uu.se/ppdp03/">PPDP'03</A>)</i>, pages 1-3, Uppsala, Sweden,
  August 2003. ACM. <span class="tagclass">Survey</span><br />

<p>
</dd>


<dt>
<a name="BlanchetSAS01"></a>
[3]
</dt>
<dd>
Bruno Blanchet.
  <A HREF="http://proverif.inria.fr/publications/BlanchetSAS01.html">Abstracting Cryptographic Protocols by Prolog Rules
  (invited talk)</A>.
  In Patrick Cousot, editor, <i>8th International Static Analysis
  Symposium (<A HREF="http://clip.dia.fi.upm.es/SAS02/">SAS'2001</A>)</i>, volume 2126 of
  <i>Lecture Notes in Computer Science</i>, pages 433-436, Paris, France, July
  2001. Springer. <span class="tagclass">Survey</span><br />

<p>
</dd>
</dl>

<H3>Conferences</H3>


<dl>

<dt>
<a name="ChevaletalUsenix23"></a>
[1]
</dt>
<dd>
Vincent Cheval, Cas Cremers, Alexander Dax, Lucca Hirschi, Charlie Jacomme, and
  Steve Kremer.
  <A HREF="http://proverif.inria.fr/publications/ChevaletalUsenix23.html">Hash Gone Bad: Automated discovery of protocol attacks that
  exploit hash function weaknesses</A>.
  In <i>32nd USENIX Security Symposium (USENIX Security'23)</i>,
  Anaheim, CA, USA, August 2023. USENIX Association. <span class="tagclass">Tool feature</span> <span class="tagclass">Case study</span><br />

<p>
</dd>


<dt>
<a name="ChevalCortierDebantCSF23"></a>
[2]
</dt>
<dd>
Vincent Cheval, Véronique Cortier, and Alexandre Debant.
  <A HREF="http://proverif.inria.fr/publications/ChevalCortierDebantCSF23.html">Election Verifiability with ProVerif</A>.
  In <i>Proceedings of the 36th IEEE Computer Security
  Foundations Symposium (CSF'23)</i>, pages 43-58, Dubrovnik, Croatia, July
  2023. IEEE. <span class="tagclass">Case study</span><br />

<p>
</dd>


<dt>
<a name="ChevalRakotonirinaCSF23"></a>
[3]
</dt>
<dd>
Vincent Cheval and Itsaka Rakotonirina.
  <A HREF="http://proverif.inria.fr/publications/ChevalRakotonirinaCSF23.html">Indistinguishability Beyond Diff-Equivalence in
  ProVerif</A>.
  In <i>Proceedings of the 36th IEEE Computer Security
  Foundations Symposium (CSF'23)</i>, pages 184-199, Dubrovnik, Croatia,
  July 2023. IEEE.
  <b>Distinguished paper award</b>. <span class="tagclass">Tool feature</span> <span class="tagclass">Case study</span><br />

<p>
</dd>


<dt>
<a name="ChevalMoreiraRyanEuroSnP23"></a>
[4]
</dt>
<dd>
Vincent Cheval, José Moreira, and Mark Ryan.
  <A HREF="http://proverif.inria.fr/publications/ChevalMoreiraRyanEuroSnP23.html">Automatic verification of transparency protocols</A>.
  In <i>8th IEEE European Symposium on Security and Privacy,
  EuroS&amp;P 2023, Delft, Netherlands, July 3-7, 2023</i>. IEEE, 2023. <span class="tagclass">Tool feature</span> <span class="tagclass">Case study</span><br />

<p>
</dd>


<dt>
<a name="BhargavanChevalWoodCCS22"></a>
[5]
</dt>
<dd>
Karthikeyan Bhargavan, Vincent Cheval, and Christopher Wood.
  <A HREF="http://proverif.inria.fr/publications/BhargavanChevalWoodCCS22.html">A Symbolic Analysis of Privacy for TLS 1.3 with
  Encrypted Client Hello</A>.
  In <i>Proceedings of the 29th ACM Conference on Computer
  and Communications Security (CCS'22)</i>, Los Angeles, USA, November 2022.
  ACM Press. <span class="tagclass">Case study</span><br />

<p>
</dd>


<dt>
<a name="BlanchetEtAlSP22"></a>
[6]
</dt>
<dd>
Bruno Blanchet, Vincent Cheval, and Véronique Cortier.
  <A HREF="http://proverif.inria.fr/publications/BlanchetEtAlSP22.html">ProVerif with lemmas, induction, fast subsumption, and
  much more</A>.
  In <i>IEEE Symposium on Security and Privacy (S&amp;P'22)</i>, pages
  205-222, San Francisco, CA, May 2022. IEEE Computer Society. <span class="tagclass">Tool feature</span><br />

<p>
</dd>


<dt>
<a name="BlanchetCSF17"></a>
[7]
</dt>
<dd>
Bruno Blanchet.
  <A HREF="http://proverif.inria.fr/publications/BlanchetCSF17.html">Symbolic and Computational Mechanized Verification of the
  ARINC823 Avionic Protocols</A>.
  In <i>30th IEEE Computer Security Foundations Symposium (CSF'17)</i>,
  pages 68-82, Santa Barbara, CA, USA, August 2017. IEEE. <span class="tagclass">Case study</span><br />

<p>
</dd>


<dt>
<a name="BhargavanBlanchetKobeissiSP2017"></a>
[8]
</dt>
<dd>
Karthikeyan Bhargavan, Bruno Blanchet, and Nadim Kobeissi.
  <A HREF="http://proverif.inria.fr/publications/BhargavanBlanchetKobeissiSP2017.html">Verified Models and Reference Implementations for the TLS
  1.3 Standard Candidate</A>.
  In <i>IEEE Symposium on Security and Privacy (S&amp;P'17)</i>, pages
  483-503, San Jose, CA, May 2017. IEEE.
  <b>Distinguished paper award</b>. <span class="tagclass">Case study</span><br />

<p>
</dd>


<dt>
<a name="KobeissiBhargavanBlanchetEuroSP17"></a>
[9]
</dt>
<dd>
Nadim Kobeissi, Karthikeyan Bhargavan, and Bruno Blanchet.
  <A HREF="http://proverif.inria.fr/publications/KobeissiBhargavanBlanchetEuroSP17.html">Automated Verification for Secure Messaging Protocols and
  their Implementations: A Symbolic and Computational Approach</A>.
  In <i>2nd IEEE European Symposium on Security and Privacy
  (EuroS&amp;P'17)</i>, pages 435-450, Paris, France, April 2017. IEEE. <span class="tagclass">Case study</span><br />

<p>
</dd>


<dt>
<a name="BlanchetSmythCSF16"></a>
[10]
</dt>
<dd>
Bruno Blanchet and Ben Smyth.
  <A HREF="http://proverif.inria.fr/publications/BlanchetSmythCSF16.html">Automated reasoning for equivalences in the applied pi
  calculus with barriers</A>.
  In <i>29th IEEE Computer Security Foundations Symposium (CSF'16)</i>,
  pages 310-324, Lisboa, Portugal, June 2016. IEEE. <span class="tagclass">Tool feature</span><br />

<p>
</dd>


<dt>
<a name="ChevalBlanchetPOST13"></a>
[11]
</dt>
<dd>
Vincent Cheval and Bruno Blanchet.
  <A HREF="http://proverif.inria.fr/publications/ChevalBlanchetPOST13.html">Proving More Observational Equivalences with ProVerif</A>.
  In David Basin and John Mitchell, editors, <i>2nd Conference on
  Principles of Security and Trust (POST 2013)</i>, volume 7796 of <i>Lecture
  Notes in Computer Science</i>, pages 226-246, Rome, Italy, March 2013.
  Springer. <span class="tagclass">Tool feature</span><br />

<p>
</dd>


<dt>
<a name="AbadiBlanchetComonCAV09"></a>
[12]
</dt>
<dd>
Martín Abadi (invited speaker), Bruno Blanchet, and Hubert Comon-Lundh.
  <A HREF="http://proverif.inria.fr/publications/AbadiBlanchetComonCAV09.html">Models and Proofs of Protocol Security: A Progress Report</A>.
  In Ahmed Bouajjani and Oded Maler, editors, <i>21st International
  Conference on Computer Aided Verification (CAV'09)</i>, volume 5643 of <i>
  Lecture Notes in Computer Science</i>, pages 35-49, Grenoble, France, June
  2009. Springer. <span class="tagclass">Survey</span><br />

<p>
</dd>


<dt>
<a name="BlanchetChaudhuriOakland08"></a>
[13]
</dt>
<dd>
Bruno Blanchet and Avik Chaudhuri.
  <A HREF="http://proverif.inria.fr/publications/BlanchetChaudhuriOakland08.html">Automated Formal Analysis of a Protocol for Secure File
  Sharing on Untrusted Storage</A>.
  In <i>IEEE Symposium on Security and Privacy</i>, pages 417-431,
  Oakland, CA, May 2008. IEEE. <span class="tagclass">Case study</span><br />

<p>
</dd>


<dt>
<a name="AllamigeonBlanchetCSFW05"></a>
[14]
</dt>
<dd>
Xavier Allamigeon and Bruno Blanchet.
  <A HREF="http://proverif.inria.fr/publications/AllamigeonBlanchetCSFW05.html">Reconstruction of Attacks against Cryptographic
  Protocols</A>.
  In <i>18th IEEE Computer Security Foundations Workshop (CSFW-18)</i>,
  pages 140-154, Aix-en-Provence, France, June 2005. IEEE Computer Society. <span class="tagclass">Tool feature</span><br />

<p>
</dd>


<dt>
<a name="BlanchetAbadiFournetLICS05"></a>
[15]
</dt>
<dd>
Bruno Blanchet, Martín Abadi, and Cédric Fournet.
  <A HREF="http://proverif.inria.fr/publications/BlanchetAbadiFournetLICS05.html">Automated Verification of Selected Equivalences for
  Security Protocols</A>.
  In <i>20th IEEE Symposium on Logic in Computer Science (LICS
  2005)</i>, pages 331-340, Chicago, IL, June 2005. IEEE Computer Society. <span class="tagclass">Tool feature</span><br />

<p>
</dd>


<dt>
<a name="BlanchetOakland04"></a>
[16]
</dt>
<dd>
Bruno Blanchet.
  <A HREF="http://proverif.inria.fr/publications/BlanchetOakland04.html">Automatic Proof of Strong Secrecy for Security
  Protocols</A>.
  In <i>IEEE Symposium on Security and Privacy</i>, pages 86-100,
  Oakland, California, May 2004. <span class="tagclass">Tool feature</span><br />

<p>
</dd>


<dt>
<a name="AbadiBlanchetFournetESOP2004"></a>
[17]
</dt>
<dd>
Martín Abadi, Bruno Blanchet, and Cédric Fournet.
  <A HREF="http://proverif.inria.fr/publications/AbadiBlanchetFournetESOP2004.html">Just Fast Keying in the Pi Calculus</A>.
  In David Schmidt, editor, <i>Programming Languages and Systems:
  Proceedings of the 13th European Symposium on Programming (ESOP'04)</i>,
  volume 2986 of <i>Lecture Notes in Computer Science</i>, pages 340-354,
  Barcelona, Spain, March 2004. Springer. <span class="tagclass">Case study</span><br />

<p>
</dd>


<dt>
<a name="AbadiBlanchetSAS03"></a>
[18]
</dt>
<dd>
Martín Abadi and Bruno Blanchet.
  <A HREF="http://proverif.inria.fr/publications/AbadiBlanchetSAS03.html">Computer-Assisted Verification of a Protocol for
  Certified Email</A>.
  In Radhia Cousot, editor, <i>Static Analysis, 10th International
  Symposium
  (<A HREF="http://www.lix.polytechnique.fr/~radhia/sas03/index.html">SAS'03</A>)</i>,
  volume 2694 of <i>Lecture Notes in Computer Science</i>, pages 316-335, San
  Diego, California, June 2003. Springer. <span class="tagclass">Case study</span><br />

<p>
</dd>


<dt>
<a name="BlanchetPodelskiFOSSACS03"></a>
[19]
</dt>
<dd>
Bruno Blanchet and Andreas Podelski.
  <A HREF="http://proverif.inria.fr/publications/BlanchetPodelskiFOSSACS03.html">Verification of Cryptographic Protocols: Tagging Enforces
  Termination</A>.
  In Andrew Gordon, editor, <i>Foundations of Software Science and
  Computation Structures
  (<A HREF="http://research.microsoft.com/~adg/FOSSACS03/">FoSSaCS'03</A>)</i>, volume
  2620 of <i>Lecture Notes in Computer Science</i>, pages 136-152, Warsaw,
  Poland, April 2003. Springer. <span class="tagclass">Theoretical result</span><br />

<p>
</dd>


<dt>
<a name="BlanchetSAS02"></a>
[20]
</dt>
<dd>
Bruno Blanchet.
  <A HREF="http://proverif.inria.fr/publications/BlanchetSAS02.html">From Secrecy to Authenticity in Security
  Protocols</A>.
  In Manuel Hermenegildo and Germán Puebla, editors, <i>9th
  International Static Analysis Symposium
  (<A HREF="http://clip.dia.fi.upm.es/SAS02/">SAS'02</A>)</i>, volume 2477 of <i>
  Lecture Notes in Computer Science</i>, pages 342-359, Madrid, Spain, September
  2002. Springer. <span class="tagclass">Tool feature</span><br />

<p>
</dd>


<dt>
<a name="AbadiBlanchetPOPL02"></a>
[21]
</dt>
<dd>
Martín Abadi and Bruno Blanchet.
  <A HREF="http://proverif.inria.fr/publications/AbadiBlanchetPOPL02.html">Analyzing Security Protocols with Secrecy Types and
  Logic Programs</A>.
  In <i>29th Annual ACM SIGPLAN - SIGACT Symposium on Principles of
  Programming Languages (<A HREF="http://www.cse.ogi.edu/PacSoft/conf/popl/">POPL
  2002</A>)</i>, pages 33-44, Portland, Oregon, January 2002. ACM Press. <span class="tagclass">Tool feature</span><br />

<p>
</dd>


<dt>
<a name="BlanchetCSFW01"></a>
[22]
</dt>
<dd>
Bruno Blanchet.
  <A HREF="http://proverif.inria.fr/publications/BlanchetCSFW01.html">An Efficient Cryptographic Protocol Verifier
  Based on Prolog Rules</A>.
  In <i>14th IEEE Computer Security Foundations Workshop (CSFW-14)</i>,
  pages 82-96, Cape Breton, Nova Scotia, Canada, June 2001. IEEE Computer
  Society.
  This paper received a <b>test of time award</b> at the CSF'23
  conference. <span class="tagclass">Tool feature</span><br />

<p>
</dd>
</dl>

<H3>Workshops</H3>


<dl>

<dt>
<a name="BlanchetHCVS22"></a>
[1]
</dt>
<dd>
Bruno Blanchet.
  <A HREF="http://proverif.inria.fr/publications/BlanchetHCVS22.html">The Security Protocol Verifier ProVerif and its Horn
  Clause Resolution Algorithm</A>.
  In Geoffrey W. Hamilton, Temesghen Kahsai, and Maurizio Proietti,
  editors, <i>9th Workshop on Horn Clauses for Verification and Synthesis
  (HCVS)</i>, volume 373 of <i>EPTCS</i>, pages 14-22. Open Publishing
  Association, November 2022. <span class="tagclass">Survey</span><br />

<p>
</dd>


<dt>
<a name="BlanchetDagstuhl03b"></a>
[2]
</dt>
<dd>
Bruno Blanchet.
  <A HREF="http://proverif.inria.fr/publications/BlanchetDagstuhl03b.html">Automatic Proof of Strong Secrecy for Security
  Protocols</A>.
  In <i>Dagstuhl seminar <tt>Language-Based Security</tt></i>, October 2003. <span class="tagclass">Tool feature</span><br />

<p>
</dd>
</dl>

<H3>Theses</H3>


<dl>

<dt>
<a name="BlanchetHDR"></a>
[1]
</dt>
<dd>
Bruno Blanchet.
  <i><A HREF="http://proverif.inria.fr/publications/BlanchetHDR.html">Vérification automatique de protocoles
  cryptographiques : modèle formel et modèle calculatoire. Automatic
  verification of security protocols: formal model and computational model</A></i>.
  Mémoire d'habilitation à diriger des recherches, Université
  Paris-Dauphine, November 2008.
  En français avec publications en anglais en annexe. In French with
  publications in English in appendix. <span class="tagclass">Survey</span><br />

<p>
</dd>
</dl>

<H3>Reports</H3>


<dl>

<dt>
<a name="BhargavanBlanchetKobeissiInria2017"></a>
[1]
</dt>
<dd>
Karthikeyan Bhargavan, Bruno Blanchet, and Nadim Kobeissi.
  Verified models and reference implementations for the TLS 1.3
  standard candidate.
  Research Report RR-9040, Inria, May 2017.
  Available at
  <A HREF="https://hal.inria.fr/hal-01528752">https://hal.inria.fr/hal-01528752</A>. <span class="tagclass">Case study</span><br />

<p>
</dd>


<dt>
<a name="BlanchetInria17"></a>
[2]
</dt>
<dd>
Bruno Blanchet.
  Symbolic and computational mechanized verification of the ARINC823
  avionic protocols.
  Research Report RR-9072, Inria, May 2017.
  Available at
  <A HREF="https://hal.inria.fr/hal-01527671">https://hal.inria.fr/hal-01527671</A>. <span class="tagclass">Case study</span><br />

<p>
</dd>


<dt>
<a name="appliedpi"></a>
[3]
</dt>
<dd>
Martín Abadi, Bruno Blanchet, and Cédric Fournet.
  The applied pi calculus: Mobile values, new names, and secure
  communication.
  Report arXiv:1609.03003, September 2016.
  Revised July 2017. Available at
  <A HREF="http://arxiv.org/abs/1609.03003">http://arxiv.org/abs/1609.03003</A>. <span class="tagclass">Theoretical result</span><br />

<p>
</dd>


<dt>
<a name="BlanchetSmythInria16"></a>
[4]
</dt>
<dd>
Bruno Blanchet and Ben Smyth.
  <A HREF="http://proverif.inria.fr/publications/BlanchetSmythInria16.html">Automated reasoning for equivalences in the applied pi
  calculus with barriers</A>.
  Research report RR-8906, Inria, April 2016.
  Available at
  <A HREF="https://hal.inria.fr/hal-01306440">https://hal.inria.fr/hal-01306440</A>. <span class="tagclass">Tool feature</span><br />

<p>
</dd>


<dt>
<a name="BlanchetCorresp"></a>
[5]
</dt>
<dd>
Bruno Blanchet.
  Automatic verification of correspondences for security protocols.
  Report arXiv:0802.3444v1, February 2008.
  Available at
  <A HREF="http://arxiv.org/abs/0802.3444v1">http://arxiv.org/abs/0802.3444v1</A>. <span class="tagclass">Tool feature</span><br />

<p>
</dd>


<dt>
<a name="BlanchetMPII04"></a>
[6]
</dt>
<dd>
Bruno Blanchet.
  <A HREF="http://proverif.inria.fr/publications/BlanchetMPII04.html">Automatic Proof of Strong Secrecy for Security
  Protocols</A>.
  Technical Report MPI-I-2004-NWG1-001, Max-Planck-Institut für
  Informatik, Saarbrücken, Germany, July 2004. <span class="tagclass">Tool feature</span><br />

<p>
</dd>
</dl>
